body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color:#2dcf96;
  color: white;
  padding: 1rem 0;
}

.contacto-info {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

.contacto-info a {
  color: #2a9d8f;
  text-decoration: none;
  font-weight: bold;
}

.contacto-info a:hover {
  text-decoration: underline;
}

footer {
  background-color: #264653;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}