body {
  background-color: #f0f8ff;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #2dcf96;
  color: #fff;
  padding: 1rem 0;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  text-shadow: 1px 1px 2px black;
}

footer {
  background-color: #264653;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}