h1{
background-color: rgb(33, 189, 228);
font-size: 48px;
font-family:"Lucida Sans";
font-style: italic;
text-align: center;
padding: 20px;
border-radius: 8px;
color: white;
}

body { 
font-family: monospace;
font-size: 21px;
background-size: cover;
text-align: center;
background-position-x: center;
background-repeat: no-repeat;
}

form {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(173, 216, 230);
    border-radius: 10px;
}
