*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial,Helvetica, sans-serif;
}
body{
    background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,#000513 0 180deg)
    20px 11.54px,
    repeating-conic-gradient(from 30deg,#000000 0 60deg,#0040ff 0 120deg,#000513 0 180deg);
    background-size: 40px 23px;
    align-content: center;
    height:100vh;
}

.formulario{
    display:flex;
    width: 80%;
    height: 460px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin:0 auto;
    position: relative;
    z-index: 5;
}
.seccion-informacion{
    flex-basis: 65%;
    padding:0 60px;
    align-content: center;
}
.seccion-botones{
    flex-basis: 35%;
    align-content: center;
}
h2{
    font-size: 40px;
}
.inputs{
    display:flex;
    flex-direction: column;
    width: 100%;
}
input{
    height: 40px;
    margin:10px auto;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding-left:15px;
    border-bottom: 1px solid #000;
}
input:focus{
    border-bottom: 2px solid #0040ff;
}
input:focus+label::before{
    top:-62px;
    left: -15px;
    color: #0040ff;
    font-size:12px; 
}
label{
    position: relative;
    width:200px ;
    color: #777;
}
label::before{
    content: "Nombre";
    position: absolute;
    top: -40px;
    padding-left: 15px;
    background-color: #f2f2f2;
    z-index: -1;
}
.label-email::before{
    content: "Email";
}
.label-contraseña::before{
    content: "Contraseña";
}
.label-confirmar-contraseña::before{
    content: "Confirmar Contraseña";
}
button{
    height: 70px;
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    color:#fff;
    border:none;
    background-color: #0040ff;

}
.mostrar-contraseña{
    font-size: 12px;
    color: #999;
    text-align: right;
    cursor: pointer;
}
p{
    margin-top: 20px;
    color: #444;
    font-size: 14px;
}
p a{
    text-decoration: none;
    color: #004aca ;
    font-weight: 600;
}

@media screen and (max-width:800px) {
    button{
        width:150px ;
    }
}
@media screen and (max-width:700px){
    .formulario{
        display:flex;
        flex-direction: column;
        height: auto;
        padding:20px ;
    }
    h2{
        text-align:center ;
        margin-top: 20px;
    }
    .seccion-informacion{
        padding: 0 20px;
    }
    .inputs{
        margin-top: 10px;
    }
    input{
        margin-top: 20px;
        width:100px
    }
    label{
        font-size: 14px;
    }
    .seccion-botones{
        margin:0 auto;
    }
    button{
        margin-top: 20px;
        height: 60px ;
        margin-left: 15px;
        width: 200px;
    }
    p{
        text-align: center;
    }
}